extends layout 

block content
  h1 #{title}: #{user._id}

  if currentUser && currentUser.admin
    p #[strong First name:] #{user.first_name} 
    p #[strong Last name:] #{user.last_name}
    p #[strong Username:] #{user.username}
    p #[strong Status:] #{user.status}
  
    if user.admin
      p #[strong Admin:] #{user.admin}
  
    hr
    p
      a(href=user.url+'/update') Update user
    p 
      a.text-danger(href=user.url+'/delete') Delete user